.footerContainer {
  // position: absolute;
  padding: 0.7rem 0 0.5rem 0;
  z-index: 100000000;
  width: 90%;
}

.footerWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0rem 0 2rem;
  gap: 3rem;
  /* max-width: 60%; */
}

.socialMedia {
  display: flex;
  gap: 1vw;
  height: 100%;
  /* justify-content: space-between; */
  /* padding: 0 10rem 0 0; */
  width: 100%;
}

.footerEssentials {
  display: flex;
  padding: 0 6rem 0 0;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.customFooter {
  padding: 20px;
}

.customFooterHome {
  background-color: var(--sorority-brown) !important;
  color: var(--sorority-limeGreen);
  padding: 20px;
}
.customFooterRegister {
  background-color: var(--sorority-orange);
  color: var(--sorority-pink) !important;
  padding: 20px;
}
.customFooterLogin {
  background-color: var(--sorority-occer);
  color: var(--sorority-grey) !important;
  padding: 20px;
}
.customFooterTeam {
  background-color: var(--sorority-grey);
  color: var(--sorority-occer);
  padding: 20px;
  width: 44.6vw;
}

.customFooterMagazine {
  background-color: var(--sorority-occer);
  color: black;
  padding: 20px;
}

.customFooterProfile {
  background-color: white;
  color: black;
  padding: 20px;
}
.customFooterUser {
  background-color: darkgray;
  color: black;
  padding: 20px;
}
