.main {
  display: flex;
  flex-direction: column;
  column-gap: 3vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.secondaryContainer {
  position: absolute;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Optional: Adjusts spacing between items */
  align-items: top; /* Optional: Aligns items vertically in the container */

  width: 100%;
}

.footer {
  position: sticky;
  bottom: 0;
}

.logoArea {
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  padding: 2rem 0 0 2rem;
  height: 100%;
}

.h1 {
  display: inline-block;
  white-space: nowrap;
  font-family: var(--display-font);
  font-size: var(--h1-size);
  text-transform: uppercase;
  max-width: 100%;
  color: var(--sorority-grey);
}

.animation {
  display: flex;
  flex-direction: column;
  animation: 45s linear 1s infinite running slidein;
  /* margin: 0 auto; */
}

/* reverse both */

@keyframes slidein {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.editUser {
  display: flex;
  flex-direction: column;
  min-height: 110vh;
  width: 17.5rem;
}

.userCard {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  margin-bottom: 8vh;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 3vh;
}
// .contactDetails {
//   display: flex;
//   flex-direction: column;
//   gap: 3rem;
//   padding: 2rem 2rem 2rem 9rem;
// }
// .form {
//   display: flex;
//   flex-direction: column;
// }

// .imageCard {
//   display: flex;
//   flex-direction: column;
// }
// .rsvpUser {
//   background-color: darkgrey;
//   height: 100vh;
// }

.inputDescription {
  background-color: transparent;
  overflow-y: scroll;
  left: 0;
  padding: 1rem 0.1rem 0 0.5rem;
  bottom: 0.5rem;
  height: 20vh;
  width: 100%;
  border: none;
  &:focus {
    background-color: var(--sorority-pink);
    outline: none;
  }
}
