.main {
  overflow: scroll;
  display: flex;
  justify-content: space-evenly;
  // background-color: darkgrey;
  padding: 0rem 0 2rem 2rem;
  > div {
    width: 50vw;
  }
}

.eventSummary {
  background-color: darkgrey;
}
.eventCreation {
  // position: fixed;
  // display: inline-block;
  padding: 2rem 2rem 2rem 2rem;
  height: 100%;
  background-color: white;
}
.eventParcel {
  // overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 2rem 2rem 0;
  border-bottom: 1px solid var(--sorority-grey);
  color: var(--sorority-grey);
  width: 45vw;
  &:hover {
    transform: scale(1.1);
  }
}

.singleEventContainer {
  display: fixed;
}

.form {
  display: flex;
  flex-direction: column;
}
