.regularButton {
  display: flex;
  background-color: transparent;
  border: none;
  gap: -0.5rem;

  > div {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 10rem;
    color: var(--sorority-lilac);
    background-color: var(--sorority-pink);
    border: 1px solid var(--sorority-lilac);
    &:hover {
      background-color: var(--sorority-lilac);
      color: var(--sorority-pink);
    }
  }
}

.deleteButton {
  display: flex;
  background-color: transparent;
  border: none;
  gap: -0.5rem;

  > div {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 10rem;
    color: white;
    background-color: rgb(41, 41, 41);
    // border: 1px solid black;
  }
}
.editButton {
  display: flex;
  background-color: transparent;
  border: none;
  gap: -0.5rem;

  > div {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 2rem;
    color: black;
    background-color: white;
    // border: 1px solid black;
  }
}
.createButton {
  display: flex;
  background-color: transparent;
  border: none;
  gap: -0.5rem;

  > div {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 2rem;
    border: 1px solid black;
    color: black;
    background-color: white;
    // border: 1px solid black;
  }
}

.logoutButton {
  display: flex;
  background-color: transparent;

  border: none;
  gap: -0.5rem;

  &:hover {
    background-color: var(--sorority-limeGreen);
    border-radius: 30px;
    border: none;
  }
}

.logoutButtonItem {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 2rem;
  border: 1px solid black;
  color: black;
  background-color: transparent;
  &:hover {
    border: none;
  }
}
.logoutButtonIcon {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 2rem;
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

// .test {
//   background-color: aqua;
//   &:hover {
//     background-color: var(--sorority-grey);
//   }
// }
