.main {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: right;
  overflow: scroll;
  height: 100%;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: scroll; /* Makes .content scrollable */
  background-color: var(--sorority-grey);
  padding: 3vw 3vw 5vw 3vw;
  width: 50%;
  min-height: 200vh; /* Extra height to demonstrate scrolling */
}
