.main {
  display: flex;
  flex-direction: column;
  column-gap: 3vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.logoArea {
  display: flex;
  flex-direction: column;
  background-color: var(--sorority-brown);
  padding: 2rem 0 2rem 2rem;
}

.h1 {
  display: inline-block;
  white-space: nowrap;
  font-family: var(--display-font);
  font-size: var(--h1-size);
  text-transform: uppercase;
  max-width: 100%;
  color: var(--sorority-grey);
}

.animation {
  display: flex;
  flex-direction: column;
  animation: 45s linear 1s infinite running slidein;
  /* margin: 0 auto; */
}

/* reverse both */

@keyframes slidein {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.navClass {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--sorority-grey);
  color: black;
  text-transform: uppercase;
}

.userArea {
  display: flex;
  gap: 6rem;
}

.tag {
  display: inline-block;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border: 1px solid black;
  border-radius: 30vw;
}

.button {
  display: flex;
  gap: 1rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border: 1px solid black;
  border-radius: 30vw;
}

.sectionContainer {
  padding: 1.2rem 0 1.2rem 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-transform: uppercase;
  font-weight: 350;
}
