@font-face {
  font-family: 'Thunder-BoldLC';
  src:
    local('Thunder-BoldLC'),
    url(../public/fonts/Thunder-BoldLC.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.page {
  display: grid;
  max-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
}

.footerDynamicContainer {
  background-color: #b55a08;
  color: white;
  padding: 0rem 0 2rem 0;
}

.footerWrapper {
  display: flex;
  padding: 0 7rem 0 2rem;
  max-width: 60%;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  padding: 0 10rem 0 0;
  width: 100%;
}

.footerEssentials {
  display: flex;
  padding: 0 6rem 0 0;
  justify-content: space-between;
  width: 100%;
}

.navClass {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #e7e7e7;
  color: black;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  column-gap: 3vw;
  background-color: #b55a08;
  height: 85%;
}

.logoArea {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem 2rem;
}

.h1 {
  display: inline-block;
  white-space: nowrap;
  font-family: 'Thunder-BoldLC', Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 17.5rem;
  text-transform: uppercase;
  max-width: 100%;
  color: #bfff50;
}

.animation {
  display: flex;
  flex-direction: column;
  animation: 45s linear 1s infinite running slidein;
  /* margin: 0 auto; */
}

/* reverse both */

@keyframes slidein {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
