.navbarDesktop {
  display: flex;
  width: 100%;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: var(--sorority-brown);
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  column-gap: 3vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.secondaryContainer {
  position: absolute;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Optional: Adjusts spacing between items */
  align-items: top; /* Optional: Aligns items vertically in the container */
  width: 100%;
  > div {
    width: 50vw;
  }
}

.footer {
  position: sticky;
  bottom: 0;
}

.logoArea {
  display: flex;
  flex-direction: column;
  background-color: var(--sorority-brown);
  padding: 2rem 0 0 2rem;
  height: 100%;
}

.h1 {
  display: inline-block;
  white-space: nowrap;
  font-family: var(--display-font);
  font-size: var(--h1-size);
  line-height: 0.9;
  text-transform: uppercase;
  max-width: 100%;
  color: var(--sorority-limeGreen);
}

.animation {
  display: flex;
  flex-direction: column;
  animation: 45s linear 1s infinite running slidein;
  /* margin: 0 auto; */
}

/* reverse both */

@keyframes slidein {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.navClass {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--sorority-grey);
  color: black;
  text-transform: uppercase;
}

.userArea {
  display: flex;
  gap: 6rem;
}

.tag {
  display: inline-block;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border: 1px solid black;
  border-radius: 30vw;
}


.button {
  display: flex;
  gap: 1rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: 1px solid black;
  border-radius: 30vw;
  background-color: transparent;

}

.sectionContainer {
  padding: 1.2rem 0 1.2rem 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-transform: uppercase;

}

.sectionTitle {
  font-weight: 200;
}
.eventDescription {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.memberCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 70vh;
  gap: 2vh;
  margin-bottom: 4vh;
}
.memberName {
  display: flex;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.contact {
  display: flex;
  gap: 3vw;
}

.memberIntro {
  font-size: 1rem;
}

.navbarMobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .navbarDesktop {
    display: none;
  }
  .navbarMobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .button {
    border: none;
    background-color: transparent;
  }
}
