.main {
  position: absolute;
  width: 100vw;
  display: flex;
}
.wrapper {
  display: flex;
  justify-content: right;
  overflow: scroll;
  // height: 90%;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: right;
  overflow-y: scroll; /* Makes .content scrollable */
  background-color: var(--sorority-grey);
  padding: 3vw 3vw 5vw 3vw;
  width: 50%;
  min-height: 100vh; /* Extra height to demonstrate scrolling */
}

.welcomeSection {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin: 0 auto;
}

.h3 {
  font-weight: 500;
  font-size: var(--h3-size);
}

.formFooterNav {
  display: flex;
  border-top: 1px solid black;
  justify-content: space-between;
  padding: 1vw 0 0 0;
}

.labelGroup {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 1rem;
}

.formItem {
  position: relative;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
  margin: 0.5rem 0 0.5rem 0;
}

.label {
  // position: absolute;
  // border-bottom: 1px solid black;
  padding: 1.5rem 0 0.5rem 0;
  width: 100%;
  height: 100%;
  color: black;
  // opacity: 0.4;
  // bottom: 0;
}

.input {
  background-color: transparent;
  padding: 0 0.1rem 0 0.5rem;
  overflow-y: scroll;
  left: 0;
  bottom: 0.5rem;
  height: 6.5vh;
  width: 100%;
  border: none;
  &:focus {
    background-color: var(--sorority-pink);
    outline: none;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    position: absolute;
    width: 100%;
    right: 0;
    padding: 3rem;
  }

  .form {
    margin-bottom: 3rem;
  }
}
