.main {
  display: flex;
  flex-direction: column;
  column-gap: 3vw;
  height: 100vh;
  width: 100vw;
  // overflow: hidden;
}
.secondaryContainer {
  position: absolute;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Optional: Adjusts spacing between items */
  align-items: top; /* Optional: Aligns items vertically in the container */

  width: 100%;
  > div {
    width: 50vw;
  }
}

.footer {
  position: sticky;
  bottom: 0;
}

.logoArea {
  display: flex;
  flex-direction: column;
  background-color: var(--sorority-orange);
  padding: 2rem 0 0 2rem;
  height: 100%;
}

.h1 {
  display: inline-block;
  white-space: nowrap;
  font-family: var(--display-font);
  font-size: var(--h1-size);
  line-height: 0.9;
  text-transform: uppercase;
  max-width: 100%;
  color: var(--sorority-pink);
}

.animation {
  display: flex;
  flex-direction: column;
  animation: 45s linear 1s infinite running slidein;
  /* margin: 0 auto; */
}

/* reverse both */

@keyframes slidein {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

// .register {
//   // position: absolute;
//   background-color: aqua;
//   height: 100%;
// }
