.eventWrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding-top: 2rem;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  right: 0;
}
.eventContainer {
  right: 0;
  top: 0;
  position: absolute;
  width: 66vw;
  padding: 2rem 0rem 2rem 4rem;
  background-color: var(--sorority-grey);
  display: flex;
  flex-direction: column;
  gap: 15vh;
}

.userOverview {
  display: flex;
  gap: 5rem;
}
.userCard {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  gap: 1rem;
  padding: 0 1rem 0 0;
}

.userName {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.contact {
  display: flex;
  gap: 3vw;
}

.userIntro {
  font-size: 1rem;
}
.connect {
  display: flex;
  justify-content: space-between;
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.eventOverview {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  height: 100%;
}

.eventListItem {
  display: flex;
  gap: 0.5rem;
  padding: 2rem 2rem 2rem 0;
  border-bottom: 1px solid black;
  color: black;
  width: 100%;
  // &:hover {
  //   color: var(--sorority-limeGreen);
  // }
}

.eventDate {
  font-size: 1rem;
  min-width: 10vw;
}
.eventDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.h3 {
  // font-size: var(--h4-size);
  // padding-left: 2rem;
  width: 100%;
  padding: 1.2rem 0 1.2rem 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-transform: uppercase;
  font-weight: 350;
}
.h4 {
  font-size: 1rem;
  width: 85%;
}
.eventTags {
  display: flex;
  gap: 2rem;

  > div {
    font-size: var(--small);
    padding: 0.2rem 1rem 0.2rem 1rem;
    border: 1px solid black;
    border-radius: 30rem;
  }
}

.noEvent {
  display: flex;
  padding-top: 3vh;
}
